@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model booktest.Models.Borrow

<br />
<br />
<br />

@{ 
    ViewBag.Title = "书籍情况查询";
}
<h2>书籍情况</h2>

<form id="Search form" action="Search" method="post">
    <div id="head">
        <strong>请输入书名：</strong><input id="Name" type="search" value="Name" onclick="return Situation()" />
    </div>
    <div id="body">
        <input id="summit" type="search" value="查找" onclick="return Situation(Name)" />
    </div>
</form>   
<div>
    <h4>Book</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Book)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Book)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BookID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BorrowDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BorrowDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Person)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Person)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReturnDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReturnDate)
        </dd>

    </dl>
</div>
